/*format and position the main navigation menu*/
nav {
    top: 0px;   
}
nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}
nav>ul li {
    position: relative; 
    text-align: center;
    font-weight: bold;
    float: left;
}
nav a {
    text-decoration: none;
    display: inline-block;
    padding: 15px 15px 15px 15px;
    width: 150px; 
    margin: 2px;
    color:white;
}

/*format all navigation <a> elements*/
nav a:link{
    background-color :#2d4ea6;
}
nav a:hover, nav a:focus {
    background-color: #002ea8;
}
nav a:active{
    background-color: #001857;
}

/*position sub-menu or drop-down*/
nav ul>li ul {
    position: absolute;
    top: 100%;
    display: none;
}
nav ul ul li {
    float:none;
}

/*special hover to display the drop-down*/
nav>ul>li:hover>ul{
    display: block;
}