h1
{
    color: #002ea8;    
}

a 
{
    text-decoration:none;
}

p {
    font-size: larger;
}

/* desktop*/
@media screen and (min-width: 760px) {
    img {
        max-width: 80%;
        text-align:center;
    }
    .grid {
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 20% 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "item1"
    "item2"
    "item3"
    "item4";
    }
    .item1 {
    grid-area: item1;
    padding-top: 20px;
    padding-left: 10px;
    width: 80%;
    height: auto;
  }
   
}
.item2 {
    grid-area: item2;
    padding-top: 20px;
    padding-left: 10px;
}
.item3 {
    grid-area: item3;
   padding-left: 10px;
}
.item4 {
    grid-area: item4;
    justify-self: center;
    padding-left: 10px;
}

/*mobile */

@media screen and (max-width: 759px) {
    .grid {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "item1"
            "item2"
            "item3"
            "item4";
           }


    .item1 {
        grid-area: item1;
        justify-self: center;
        padding-left: 10px;
      }
       
    img {
        max-width: 80%;
        padding-left: 10px;
        text-align:center;
     }
    .item2{
        grid-area: item2;
        padding-left: 10px;
       
        }
    .item3 {
        grid-area: item3;
        padding-left: 10px;
           }
    .item4 {
      grid-area: item4;
      justify-self: center;
      padding-left: 10px;
    }
}

body
{
    text-align: center;
    background-color:#91afff;
    color: #333333;
    margin-left:3%;
    margin-right:3%;
}