@font-face {
    font-family: Montserrat;
    src:url(Montserrat-Light.ttf)
}

#ResumeBox
{
    margin: auto;
    border: 4px #223159;
    width:100px;
    height:30px;
    background-color: lightskyblue;
    padding: 10px;
    font-size: 20px;
    text-align:center;
    text-decoration: none;
}

#paragraphBox 
{
    margin: 0 auto;
    padding: 4px;
    width: 100%;
    text-align:center;
}


#paragraphBox p {
   text-indent:30px;
}

h1
{
    color: #002ea8;    
}

a 
{
    text-decoration:none;
}

p 
{
    font-family: Montserrat, sans-serif;
}

.box h2,p {
    padding-left:5%;
    padding-right:5%;
    flex-basis: auto;
    margin: 0 auto;
}

.box {
    display:flex;
    flex-direction: row;
    text-align:center;
    margin: 0 auto;
    width: 90%;
}

.tile {
    width:28%;
    margin: 5px auto;
    border: 2px solid black;
    max-height: 1000px;
    min-height: 500px;
}

.tile img {
    max-width: 90%;
    max-height: 300px;
}

body
{
    text-align: center;
    background-color:#91afff;
    color: #333333;
    margin-left:3%;
    margin-right:3%;
    font-family: Montserrat;
}


.icon:hover {
    width:2.5%;
}
.icon {
    width:1.5%;
}

footer {
    margin-top:30px;
    background-image: url("../webcontent/footerBG.jpg");

}

/*Print*/
@media print {
    
    p {
        font-family: Montserrat;
    }

    h1, h3, header, footer {
        color: black;
        font-family: serif;
        background-image: none;
    }

    nav {
       display:none; 
    }

    body {
        margin:1in;
    }

}

/* desktop*/
@media screen and (min-width: 760px) {
    p {
        font-size: larger;
    }
    

    #slides {
        width: 95%;
        height: 50%;
    }

    iframe {
        width: 20%;
    }
    
    img {
        max-width: 80%;
        text-align:center;
    }

    .box {
        flex-direction:row;
    }

    .tile {
        width: 28%;
    }

    .grid {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 20% 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4";
    }

    .item1 {
        grid-area: item1;
        padding-top: 20px;
        padding-left: 10px;
        width: 80%;
        height: auto;
    }

    .item2 {
        grid-area: item2;
        padding-top: 20px;
        padding-left: 10px;
    }
    .item3 {
        grid-area: item3;
       padding-left: 10px;
    }

    .item4 {
        grid-area: item4;
        justify-self: center;
        padding-left: 10px;
    }
   
}
/*mobile */

@media screen and (max-width: 759px) {
    p {
        font-size: medium;
    }

    .grid {
        display: grid;
        grid-gap: 1em;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "item1"
            "item2"
            "item3"
            "item4";
    }

    iframe {
        width:80%;
    }

    #slides {
        width: 80%;
        height: 80%;
    }

    .item1 {
        grid-area: item1;
        justify-self: center;
        padding-left: 10px;
    }

    .box {
        flex-direction:column;
    }

    .tile {
        width: 80%;
    }
       
    img {
        max-width: 80%;
        padding-left: 10px;
        text-align:center;
    }

    .item2{
        grid-area: item2;
        padding-left: 10px;
       
    }

    .item3 {
        grid-area: item3;
        padding-left: 10px;
    }
    
    .item4 {
      grid-area: item4;
      justify-self: center;
      padding-left: 10px;
    }
}